<p id="notice"><%= notice %></p>
<h1>
  <%= @owner.name %>
</h1>

<% if @owner.cats_owners.present? %>
  <h3>Cats: </h3>
  <ul>
    <% @owner.cats_owners.each do |co| %> 
      <li><%= co.cat.name %> | Quantity: <%= co.quantity%> | Status: <%= co.status%></li>
    <% end %>
  </ul>
<% end %>
  
<% if @owner.dogs_owners.present? %>
<h3>Dogs: </h3>
  <ul>
    <% @owner.dogs_owners.each do |co| %> 
      <li><%= co.dog.name %> | Quantity: <%= co.quantity%> | Status: <%= co.status%></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
