<p id="notice"><%= notice %></p>
<h1>
  <%= @owner.name %>
</h1>

<% if @owner.cats_owners.present? %>
  <h3> This guy has these cats: </h3>
  <ul>
    <% @owner.cats_owners.each do |co| %> 
      <li><%= co.quantity%> cats named <%= co.cat.name %></li>
    <% end %>
  </ul>
  <h3> This guy has these dogs: </h3>
  <ul>
    <% @owner.dogs_owners.each do |co| %> 
      <li><%= co.quantity%> dogs named <%= co.dog.name %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
