<%= form_for @survey do |f| %>
  <% if @survey.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>
      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    
  </div>
  <br>
  <%= f.fields_for :questions do |fq| %>
  <fieldset>
    <%= fq.label :content, "Question" %><br />
    <%= fq.text_area :content %><br />

    <% Food.all.each do |fd| %>
    <fieldset>
      <%= fq.fields_for :answers do |fa| %>
      <%= fa.text_field :name, :value => fd.name %>
      <%= fa.number_field :quantity %>
    <% end %> <br>
  </fieldset>
  <% end %>

</fieldset>
<br>
<% end %>
  <br>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>