<h1><%= @survey.name %></h1>

<ul class="questions">
<% @survey.questions.each do |question| %>
  <li>
    <%= question.content %>
    <ol class="answers">
      <% question.answers.each do |answer| %>
        <li><%= answer.content %> (<%= answer.quantity %>)</li>
      <% end %>
    </ol>
  </li> <br>
<% end %>
</ul>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back to Surveys', surveys_path %>
